

.tituloHome{
    font-size: 50px;
    text-decoration: underline;
    text-transform: uppercase;
    color: white;
}

.btnHome{
    width: 150px;
    height: 50px;
    background-color: grey;
    color: white;
    font-size: 18px;
    border-radius: 15px 0px  15px 0px;
    transition: all 0.2s ease;
    cursor: pointer;
}
.btnHome:hover{
    transform: scale(0.95);
    font-size: 18px;
    background-color: rgba(96, 168, 236, 0.751);
    color: rgb(68, 68, 68);
    font-weight: 700;
    transition: all 0.2s ease;
}


/*NAVBAR*/
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
    margin-top: 20px;
    color: white;
}
.navbar .selectOne select{
    width: 200px;
    height: 30px;
    border: silver solid 2px;
    border-radius: 0px 15px  15px 0px;
    text-align: center;
    font-size: 18px;
}
.navbar .selectOne label{
    margin-right: 5px;
    font-size: 18px;
    font-weight: 500;
}

.navbar .selectTwo select{
    width: 200px;
    height: 30px;
    border: silver solid 2px;
    border-radius: 0px 15px  15px 0px;
    text-align: center;    
    font-size: 18px;
}

.navbar .selectTwo label{
    margin-right: 5px;
    font-size: 18px;
    font-weight: 500;
}

.buscador{
    color: white;
}
.buscador label{
    margin-right: 5px;
    font-size: 18px;
    font-weight: 500;
}

.buscador input{
    width: 200px;
    height: 30px;
    border: silver solid 2px;
    border-radius: 15px 0px 0px 0px;
    text-align: center;  
    font-size: 18px;     
}
.buscador button{
    width: 100px;
    height: 40px;
    background-color: grey;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 0px 0px  15px 0px;
    transition: all 0.2s ease;
    cursor: pointer;
    margin-left: 5px;
}

.btnCrear{
    width: 180px;
    height: 50px;
    background-color: grey;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 15px 0px  15px 0px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.btnCrear:hover{
    transform: scale(0.95);
    font-size: 18px;
    background-color: rgba(96, 168, 236, 0.751);
    color: rgb(68, 68, 68);
    font-weight: 700;
    transition: all 0.2s ease;
}